@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white-primary: #f1f3fb;
  --blue-primary: #182c52;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-white-primary {
  color: var(--white-primary);
}
.text-blue-primary {
  color: var(--blue-primary);
}

.bg-white-primary {
  background-color: var(--white-primary);
}
.bg-blue-primary {
  background-color: var(--blue-primary);
}

.border-white-primary {
  border-color: var(--white-primary);
}
